<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.orch.celery.worker.legacy</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd "__REPO_ROOT__" &amp;&amp; source .venv/bin/activate &amp;&amp; export CELERY_ENABLED=true WORKFLOW_V2_ENABLED=true WORKFLOW_V2_EXECUTE_M2=true ORCH_QUEUE_PROFILE=launchd_local CELERY_DISPATCH_QUEUE=orch_dispatch_launchd_local CELERY_EXECUTE_QUEUE=orch_execute_launchd_local CELERY_HEARTBEAT_QUEUE=orch_heartbeat_launchd_local CELERY_FILEAPP_INGEST_ENABLED=false CELERY_S3_FILES_INGEST_QUEUE=orch_fileapp_ingest_launchd_local CELERY_SOURCE_LIST_INGEST_QUEUE=orch_fileapp_source_list_launchd_local CELERY_DISPATCH_WORKSPACE_UUID=ba7eb0ec-e565-447c-8c11-8f870cf72a60 CELERY_GENERATE_FILE_ENABLED=false &amp;&amp; exec celery -A app.core.celery_app:celery_app worker --hostname=orch-celery-worker@_macbook_deivid_dev -n orch-worker-legacy@%h -Q orch_dispatch_launchd_local,orch_execute_launchd_local,orch_heartbeat_launchd_local --without-mingle --without-gossip -l INFO</string>
  </array>
  <key>StandardOutPath</key>
  <string>__REPO_ROOT__/.runlogs/launchd/worker_legacy.out.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO_ROOT__/.runlogs/launchd/worker_legacy.err.log</string>
</dict>
</plist>
